body::before {
  display: block;
  content: "";
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  #maps {
    width: 100px;
  }
}
@media (max-width: 400px) {
  html,
  body {
    font-size: 12px;
    height: auto;
    margin: 0 auto;
    align-items: center;
  }
  #id img {
    height: 100%;
  }
}
